{% extends "AppHidroZen/base.html" %}

{% block title %}
    Login - HidroZen
{% endblock %}



{% block content %}
<div class="form-container">
    <form class="form">
    <span class="input-span">
        <label class="label" for="email">Email</label>
        <input type="email" id="email" name="email">
    </span>
    <span class="input-span">
        <label class="label" for="password">Contraseña</label>
        <input type="password" id="password" name="password">
    </span>
    <a href="{% url 'inicio' %}">
        <button class="submit" type="button">Ingresar</button>
    </a>
    

    <!-- Sección que no aparece -->
    <p class="signup-text">
        ¡Registrate con HidroZen! <a href= "{% url 'registro'%}" class="signup-link" id="new_user">Sign up</a>
    </p>
    </form>
</div>
{% endblock %}








